<ul>
    <% @venue.each do |venue| %>
  <li>
    Name: <%= venue["name"] %><br />
    Contact: <%= venue["contact"]["formattedPhone"] %><br />
    Address: <%= venue["location"]["address"] %><br />
    Type: <%= venue["categories"][0]["name"] %><br />
    How Many Recent Check-Ons: <%= venue["hereNow"]["count"] %>
  </li>
  <% end %>
</ul>
